  <style>
    body {
        background-color: #FFF5EE;
    }

    .logo {
        width: 800px;
        height: auto;
        margin: 20px auto;
        display: block;
    }

    .slideshow-container {
        position: relative;
        max-width: 80%; 
        margin: auto;
        text-align: center; 
    }

    
    .mySlides {
        display: none; 
        text-align: center; 
    }

    .mySlides img {
        max-width: 100%; 
        height: auto; 
        display: block; 
        margin: 0 auto; 
    }
</style>

